[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "Docker"]
	path = Docker
	url = https://github.com/mrcaron/CppDockerContainer
